__pycache__/
*.py[cod]
*.gz
*.csv
*.txt
*.pkl
*.pth
*$py.class
training_data/ratatoskr/BuffUsage
training_data/ratatoskr/VCUsage
training_data/ratatoskr/config/data.xml
training_data/ratatoskr/config/map.xml
training_data/data/
training_data/.ipynb_checkpoints