__pycache__/
*.py[cod]
*.gz
*.csv
*.txt
*.pickle
*.xml
*.pth
*.pkl
*$py.class
*.edgelist

training_data/ratatoskr/BuffUsage
training_data/ratatoskr/VCUsage
training_data/.ipynb_checkpoints
training_data/data/*
!training_data/data/non_iso_graphs.zip
