__pycache__/
*.py[cod]
*.gz
*.csv
*.txt
*.pkl
*.pickle
*.xml
*.pth
*$py.class
training_data/ratatoskr/BuffUsage
training_data/ratatoskr/VCUsage
training_data/data/
training_data/.ipynb_checkpoints
gcn/results/
gcn/new_model/
gcn/data/